@page "/about"

<h3>About</h3>

<p>pingu.onl is a sandbox full of .NET experiments. </p>
<p>This website is used in development and learning of the .NET framework along with html, css and JavaScript.</p>
<p>The code to the website can be found on <a target="_blank" href="https://github.com/Pingu1337/pingu.onl">Github</a></p>
@code {

}
