@page "/wowstockboard"
@inject HttpClient Http

<h1>World of Warcraft Stock Board</h1>

<p>Live stock board prices from the server Tarren Mill (EU)</p>

@if (databasedata == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>MinBuyout</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in databasedata)
            {
                <tr>
                    <td>@data.Name</td>
                    <td>@data.MinBuyout</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private FetchedData[] databasedata;

    protected override async Task OnInitializedAsync()
    {
        databasedata = await Http.GetFromJsonAsync<FetchedData[]>("database/DatabaseData.json");
    }

    public class FetchedData
    {

        public string Name { get; set; }

        public string MinBuyout { get; set; }

    }
}
