@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('http://fonts.cdnfonts.com/css/led-digital-7');



#indexh1 {
    font-size: 45px !important;
}



/*TEMPLATE CSS BELOW*/
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #0e0d35;
    color: #d7d7d7;
    overflow: hidden;
}

body::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(#f00, #f0f);
        clip-path: circle(30% at right 70%);
    }
    body::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background: linear-gradient(#2196f3, #e91e63);
        clip-path: circle(20% at 30% 60%);
        animation: animate 3s alternate-reverse infinite;
    }

@keyframes animate {
    0% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0px);
    }
}

.glasscontainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    max-height: 99%;
    top: -50px;
}

    .glasscontainer .glasscard {
        position: relative;
        width: 100%;
        margin: 30px;
       /* box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);*/
        border-radius: 15px;
        background: rgba(255, 255, 255, .1);
        overflow: hidden;
        justify-content: center;
        align-items: center;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        border-left: 1px solid rgba(255, 255, 255, 0.1);
        border-right: 1px solid rgba(255, 255, 255, 0.05);
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    }


        .glasscontainer .glasscard .glassh1 {
            padding: 0px;
            text-align: center;
            transform: translateY(150px);
            opacity: 0;
            transition: 0.5s;
            font-size: 2.5em;
            color: rgba(255, 255, 255, 0.5);
            pointer-events: none;
            z-index: 1;
        }

        .glasscontainer .glasscard:hover .glassh1 {
            transform: translateY(-200px);
            opacity: 0;
            transition: 0.5s;
        }

        .glasscontainer .glasscard .glasscontent {
            
            padding: 0px;
            text-align: center;
            transform: translateY(-50px);
            opacity: 1;
            transition: 0.5s;
            max-height: 650px;
        }

        .glasscontainer .glasscard:hover .glasscontent {
            overflow: hidden;
            width: 100%;
            transform: translateY(-50px);
            opacity: 1;
        }

        .glasscontainer .glasscard .glasscontent .glassh2 {
            position: absolute;
            top: -60px;
            right: 20px;
            font-size: 6em;
            color: rgba(255, 255, 255, 0.05);
            pointer-events: none;
        }

        .glasscontainer .glasscard .glasscontent .glassh3 {
            /*font-size: 1.8em;*/
            /*color: #fff;*/
            text-align: left;
            
            
        }

        .glasscontainer .glasscard .glasscontent .glassP {
            font-size: 1em;
            color: #fff;
            font-weight: 300;
        }

        .glasscontainer .glasscard .glasscontent a {
            position: relative;
            display: inline-block;
            padding: 8px 20px;
            margin-top: 15px;
            background: #fff;
            color: #000;
            border-radius: 20px;
            text-decoration: none;
            font-weight: 500;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        }

.text-center {
    font-size: 25px;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.bgframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(0, 0, 0, 1);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    /*border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);*/
}
.glassscreen {
    position: absolute;
    width: 96.1%;
    width: 100%;
    height: 92%;
    height: 100%;
    border-radius: 15px;
    background: rgba(255, 255, 255, .05);
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-bottom: 5px inset rgba(0, 0, 0, 0.35);
    border-right: 5px inset rgba(0, 0, 0, 0.35);
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.stockup {
    color: rgba(0, 255, 0, 1);
}

.stockdown {
    color: rgba(255, 0, 0, 1);
    
}

.stocknochange {
    color: rgba(255, 255, 0, 1);
}

@media only screen and (max-width: 600px) {
    .table td, table th {
        font-size: 19px;
    }
    .table {
        animation: rollingUp 30s infinite linear;
    }
    .topFrame {
        opacity: 0;
        visibility: hidden;
    }
    .text-center {
        transition: 5s;
        font-size: 0px;
    }.text-center h1{
        transition: 5s;
        font-size: 10px;
    }

}
@media only screen and (min-width: 600px) {


    .animationclass1 {
        text-align: left;
        animation: left 10s infinite alternate-reverse;
    }

    .animationclass2 {
        text-align: left;
        animation: left 10s infinite alternate-reverse;
    }

    .animationclass3 {
        text-align: left;
        animation: left 10s infinite alternate-reverse;
    }

    .animationclass4 {
        text-align: left;
        animation: left 10s infinite alternate-reverse;
        animation-delay: 1s;
    }

    .animationclass5 {
        text-align: left;
        animation: left 10s infinite alternate-reverse;
        animation-delay: 1s;
    }

    .animationclass6 {
        text-align: left;
        animation: left 10s infinite alternate-reverse;
        animation-delay: 1s;
    }

    .animationclass7 {
        animation: left 10s infinite alternate-reverse;
        animation-delay: 2s;
    }

    .animationclass8 {
        animation: left 10s infinite alternate-reverse;
        animation-delay: 2s;
    }

    .animationclass9 {
        animation: left 10s infinite alternate-reverse;
        animation-delay: 2s;
    }

    .animationclass10 {
        animation: right 10s infinite alternate-reverse;
    }

    .animationclass11 {
        animation: right 10s infinite alternate-reverse;
    }

    .animationclass12 {
        animation: right 10s infinite alternate-reverse;
    }

    .animationclass13 {
    }

    .animationclass14 {
    }

    .animationclass15 {
    }

    .animationclass16 {
    }

    .animationclass17 {
    }

    .animationclass18 {
    }

    .animationclass19 {
    }

    .animationclass20 {
    }

    .animationclass21 {
    }

}
    @keyframes left {
        0% {
            opacity: 1;
            transform: translate(0%,300%);
        }
        25% {
            opacity: 1;
            transform: translate(0%,300%);
        }
        40% {
            opacity: 0;
            transform: translate(-100%,300%);
        }
        50% {
            opacity: 0;
            transform: translate(-100%,0%);
        }
        75% {
            opacity: 1;
            transform: translate(0%,0%);
        }
        100% {
            opacity: 1;
            transform: translate(0%,0%);
        }
}
@keyframes right {
    0% {
        opacity: 1;
        transform: translate(0%,-900%);
    }
    25% {
        opacity: 1;
        transform: translate(0%,-900%);
    }

    50% {
        opacity: 1;
        transform: translate(0%,-900%);
    }
    75% {
        transform: translate(-100%, -900%);
        opacity: 0;
    }

    100% {
        transform: translate(-100%, -900%);
        opacity: 0;
    }
}


@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

@Keyframes rollingUp {
    0% {
        transform: translate(0%,70%);
    }
    100% {
        transform: translate(0%,-100%);
    }

}


.topFrame {
    display: flex;
    font-family: 'Minecart LCD', sans-serif;
    font-weight: lighter;
    vertical-align: bottom;
}
    .topFrame h1 {
        font-size: 21px;
        padding-left: 40px;
        padding-right: 460px;
        opacity: 1;
        animation-duration: 2s;
        animation-name: fadein;
    }

.table {
    overflow: auto;
    width: 100%;
    font-size: 40px;
    color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 0.1);
    text-indent: initial;
    
}
.table td {
    width: 50%;
}

    .table td, table th {
        text-align: left;
        font-family: 'Minecart LCD', sans-serif;
        padding: .55rem;
        border-top: 1px solid rgba(255, 255, 255, .1) !important; /*TODO här ligger linjerna som nu är dolda*/
        vertical-align: top;
    }
    .table thead th {
        font-size: 21px;
        font-weight: lighter;
        vertical-align: bottom;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15) !important;
        border-top: 1.5px solid rgba(255, 255, 255, 0) !important;

    }
tbody + tbody {
    border-top: 2px solid rgba(255, 255, 255, 0.2);
}

a, .btn-link {
    color: rgba(255, 255, 255, .05);
    border-color: rgba(255, 255, 255, .2);
}

.btn-primary {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.2);
    transform: translate(150px,-50px);
    height: 60px;
}
    .btn-primary:hover {
        color: rgba(255, 255, 255, .05) !important;
        border-color: rgba(255, 255, 255, .2) !important;
    }
.checkboxtext {
    display: inline-block;
    position: relative;
    top: -100px;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.bTTn {
    top: -100px;
    text-align: left;
    top: -100px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
    .bTTn input {
        opacity: 0;
        width: 0;
        height: 0;
    }
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}


    .content {
        padding-top: 1.1rem;
    }

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }


